* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(20px); }
  100% {
    opacity: 1; } }

@keyframes moveInRight {
  0% {
    transform: translateX(100px);
    opacity: 0; }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

@keyframes moveInTop {
  0% {
    transform: translateY(100px);
    opacity: 0; }
  80% {
    transform: translateX(-2px); }
  100% {
    opacity: 1;
    transform: translateX(0px); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 2rem; }

.heading-secondary {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.5rem;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  display: inline-block;
  color: transparent;
  transition: all .2s;
  margin-bottom: 3rem; }
  .heading-secondary:hover {
    transform: skewX(2deg) skewY(1deg) scale(1.2);
    text-shadow: 0.5rem 2rem 3rem rgba(0, 0, 0, 0.2); }

.u-center {
  text-align: center; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn-white {
  background-color: #fff;
  color: #777; }
  .btn-white::after {
    background-color: #fff; }

.btn-animated {
  animation: moveInTop 2s ease-out 0.75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  border-bottom: 1px solid #28b485;
  color: #28b485;
  margin-top: 2rem;
  transition: all .2s; }

.btn-text:hover {
  color: #fff;
  background-color: #28b485;
  transform: translateY(-0.4rem);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }

.btn-text:active {
  transform: translateY(-0.2rem);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 10rem;
  transition: all 0.4s; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.801)), url(../img/hero.jpg);
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  /* clip-path: polygon(50% 0, 100% 100%, 0 100%); */
  position: relative; }
  .header_logo-box {
    position: absolute;
    top: 4rem;
    left: 3rem; }
    .header_logo-box .logo {
      height: 3.5rem; }
  .header_text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .header_text-box .heading-primary {
      color: #fff;
      text-transform: uppercase;
      backface-visibility: hidden;
      margin-bottom: 5rem; }
      .header_text-box .heading-primary-main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        /* animation-name:moveInLeft;
              animation-timing-function: ease-out;
              animation-duration: 3s; */
        animation: moveInLeft 3s ease-out; }
      .header_text-box .heading-primary-sub {
        font-size: 2.5rem;
        letter-spacing: 1.5rem;
        display: block;
        animation-name: moveInRight;
        animation-duration: 3s;
        animation-timing-function: ease-out; }

.section-about {
  background-color: #f7f7f7;
  padding: 30rem 0;
  margin-top: -20vh; }
  .section-about-box {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto; }
    .section-about-box--left {
      width: 40%;
      margin-right: 4rem; }
      .section-about-box--left div:not(:last-of-type) {
        margin-bottom: 3rem; }
      .section-about-box--left div:first-of-type {
        background-color: #fff; }
      .section-about-box--left div h3 {
        text-transform: uppercase;
        font-size: 2rem;
        margin-bottom: 2rem; }
    .section-about-box--right {
      width: 50%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      .section-about-box--right .nat {
        width: 55%;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
        transition: all .2s;
        outline-offset: 1rem;
        z-index: 10; }
        .section-about-box--right .nat:hover {
          transform: scale(1.25);
          outline: 1.5rem solid #55c57a;
          z-index: 20; }
          .section-about-box--right .nat:hover :not(:hover) {
            transform: scale(0.75); }
        .section-about-box--right .nat-1, .section-about-box--right .nat-2, .section-about-box--right .nat-3 {
          position: absolute; }
        .section-about-box--right .nat-1 {
          top: -1rem;
          left: -1rem; }
        .section-about-box--right .nat-2 {
          top: 3rem;
          left: 24rem; }
        .section-about-box--right .nat-3 {
          top: 12rem;
          left: 10rem; }

.section-feature {
  padding: 25rem 5rem;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.801)), url(../../img/nat-4.jpg);
  background-position: top;
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .section-feature > * {
    transform: skewY(7deg); }
  .section-feature-row {
    display: flex;
    justify-content: center;
    align-items: center; }
    .section-feature-row-box {
      background-color: #fff;
      width: 20%;
      padding: 2rem;
      text-align: center;
      margin-right: 4rem;
      box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
      border-radius: 2px;
      transition: all 0.3s; }
      .section-feature-row-box:hover {
        transform: translateY(-3rem) scale(1.1); }
      .section-feature-row-box--icon {
        font-size: 7rem;
        display: inline-block;
        background-image: linear-gradient(#7ed56f, #28b485);
        -webkit-background-clip: text;
        color: transparent; }
      .section-feature-row-box h3 {
        text-transform: uppercase;
        margin-bottom: 2rem;
        font-size: 1.8rem; }
      .section-feature-row-box p {
        font-size: 1.5rem; }

.section-tours {
  padding: 25rem 0; }
  .section-tours .cards-container {
    width: 100%; }
    .section-tours .cards-container .card {
      perspective: 150rem;
      -moz-perspective: 150rem;
      position: relative;
      height: 52rem;
      width: 25%; }
      .section-tours .cards-container .card__side {
        height: 52rem;
        transition: all 0.8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
        .section-tours .cards-container .card__side--front {
          background-color: #fff; }
          .section-tours .cards-container .card__side--front--picture {
            height: 23rem;
            background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../../img/nat-5.jpg);
            background-position: center;
            background-size: cover;
            background-blend-mode: screen;
            clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); }
        .section-tours .cards-container .card__side--back {
          transform: rotateY(180deg); }
          .section-tours .cards-container .card__side--back-1 {
            background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .section-tours .cards-container .card:hover .card__side--front {
        transform: rotateY(-180deg); }
      .section-tours .cards-container .card:hover .card__side--back {
        transform: rotateY(0); }
