.section-about {
  background-color: #f7f7f7;
  padding: 30rem 0;
  margin-top: -20vh;
  &-box {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    &--left {
      width: 40%;
      margin-right: 4rem;
      div {
        &:not(:last-of-type) {
          margin-bottom: 3rem;
        }
        &:first-of-type {
          background-color: #fff;
        }
        h3 {
          text-transform: uppercase;
          font-size: 2rem;
          margin-bottom: 2rem;
        }
      }
    }
    &--right {
      width: 50%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .nat{
        width: 55%;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
        transition: all .2s;
        outline-offset: 1rem;
        z-index: 10;
        &:hover{
          transform: scale(1.25);
          outline:1.5rem solid $color-medium-green;
          z-index: 20;
          & :not(:hover){
            transform: scale(.75);
          }
        }
        &-1,
        &-2,
        &-3 {
          position: absolute;
        }
        &-1 {
          top: -1rem;
          left: -1rem;
        }
        &-2 {
          top: 3rem;
          left: 24rem;
        }
        &-3 {
          top: 12rem;
          left: 10rem;
        }
      }
     
    }
  }
}
