.section-about {
  background-color: #f7f7f7;
  padding: 30rem 0;
  margin-top: -20vh;
  &-box {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    &--left {
      width: 40%;
     margin-right: 4rem;
    }
    &--right {
      width: 50%;
      // margin-left: 2rem;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      .nat-1, 
      .nat-2,
      .nat-3{
        position: absolute;
      }
      .nat-1{
        top: -1rem;
        left: -1rem;
      }
      .nat-2{
        top: 3rem;
        left: 24rem;
      }
      .nat-3{
        top: 12rem;
        left: 10rem;
      }
    }
  }
}
