.section-feature {
  padding: 30rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.801)
    ),
    url(../../img/nat-4.jpg);
  background-position: top;
  background-size: cover;
  display: flex;
  justify-content: center;

  &-box {
    background-color: #fff;
    width: 25%;
    padding: 4rem 2rem;
    text-align: center;
    margin-right: 2rem;
    &--icon {
      font-size: 7rem;
      display: inline-block;
      background-image: linear-gradient($color-light-green, $color-dark-green);
      -webkit-background-clip: text;
      color: transparent;
    }
    h3 {
      text-transform: uppercase;
      margin-bottom: 2rem;
    }
  }
}
