.footer {
  padding: 20rem 10rem;
  background-color: $color-grey-dark-3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &-contents {
    display: flex;
    justify-content: space-between;
  }
  &-navs{
    
  }
}
